# All variable names must start with VITE_
# When adding/removing variables, remember to also update them in 'src/vite-env.d.ts'
# https://vitejs.dev/guide/env-and-mode.html

VITE_APP_NAME="Worktables coutries"
VITE_API_BASE_URL=http://localhost:3000